openapi: "3.0.0"
info:
  version: 1.0.0
  title: Messages API
  contact:
    name: Nexmo DevRel
    email: devrel@nexmo.com
    url: 'https://developer.nexmo.com/'
servers:
  - url: https://rest.nexmo.com
paths:
  /search/message:
    get:
      operationId: searchMessage
      summary: Retrieve information about a single messages that you sent using SMS API or were received on your number.
      parameters:
        - name: id
          in: query
          description:   The ID of the message you want to retrieve.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
components:
  schemas:
    Message:
      properties:
        id:
          type: string
          example: '0A00000000ABCD00'
        account-id:
          type: string
          example: 'API_KEY'
        network:
          type: string
          example: '12345'
        from:
          type: string
          example: 'Nexmo'
        to:
          type: string
          example: '447700900000'
        body:
          type: string
          example: 'A text message sent using the Nexmo SMS API'
        price:
          type: string
          example: '0.03330000'
        date-received:
          type: string
          example: '2020-0101 12:00:00'
        final-status:
          type: string
          example: 'DELIVRD'
        date-closed:
          type: string
          example: '2020-0101 12:00:00'
        latency:
          type: integer
          example: 3000
        type:
          type: string
          example: 'MT'
