<% notices = Presenters::Notices.new(request.path) %>

<% if notices.any? %>
  <div class='Nxd-header-notices'>
    <% notices.each do |notice| %>
      <% if notice.show? %>
        <div class='Vlt-callout Vlt-callout--shoutout' data-notice-dismissible='true' data-notice-id="<%= notice.id %>">
          <i></i>
          <div class='Vlt-callout__content'>
            <%= notice.content %>
          </div>
           <% if notice.dismissible? %>
              <button class='Vlt-callout__dismiss'></button>
            <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
