/*
Error: Undefined variable: "$black".
        on line 1 of ./public/stylesheets/sass/buttons.scss

1: $shadow-standard: 0 1px 0px rgba($black, 0.15);
2: $shadow-active: inset 0 2px 3px rgba($black, 0.2);
3: $shadow-tertiary: inset 0 0 0px 1px $grey;
4: 
5: @mixin btn-app-radius {
6:   border-radius: 4px;

Backtrace:
./public/stylesheets/sass/buttons.scss:1
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:182:in `perform_arg'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `block in _perform'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `each'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `each_with_index'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `each'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `map'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `_perform'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/script/tree/list_literal.rb:75:in `block in _perform'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/script/tree/list_literal.rb:75:in `map'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/script/tree/list_literal.rb:75:in `_perform'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:478:in `visit_variable'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/plugin/rack.rb:51:in `call'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/rack-2.0.7/lib/rack/lint.rb:49:in `_call'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/rack-2.0.7/lib/rack/lint.rb:37:in `call'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/rack-2.0.7/lib/rack/show_exceptions.rb:23:in `call'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/rack-2.0.7/lib/rack/common_logger.rb:33:in `call'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/sinatra-2.0.5/lib/sinatra/base.rb:231:in `call'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/shotgun-0.9.2/lib/shotgun/loader.rb:86:in `proceed_as_child'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/shotgun-0.9.2/lib/shotgun/loader.rb:31:in `call!'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/shotgun-0.9.2/lib/shotgun/loader.rb:18:in `call'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/shotgun-0.9.2/lib/shotgun/favicon.rb:12:in `call'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/shotgun-0.9.2/lib/shotgun/static.rb:14:in `call'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/rack-2.0.7/lib/rack/urlmap.rb:68:in `block in call'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/rack-2.0.7/lib/rack/urlmap.rb:53:in `each'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/rack-2.0.7/lib/rack/urlmap.rb:53:in `call'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/rack-2.0.7/lib/rack/builder.rb:153:in `call'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/puma-3.12.1/lib/puma/configuration.rb:227:in `call'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/puma-3.12.1/lib/puma/server.rb:660:in `handle_request'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/puma-3.12.1/lib/puma/server.rb:474:in `process_client'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/puma-3.12.1/lib/puma/server.rb:334:in `block in run'
/Users/frodriguez/.rbenv/versions/2.5.5/lib/ruby/gems/2.5.0/gems/puma-3.12.1/lib/puma/thread_pool.rb:135:in `block in spawn_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$black\".\A         on line 1 of ./public/stylesheets/sass/buttons.scss\A \A 1: $shadow-standard: 0 1px 0px rgba($black, 0.15);\A 2: $shadow-active: inset 0 2px 3px rgba($black, 0.2);\A 3: $shadow-tertiary: inset 0 0 0px 1px $grey;\A 4: \A 5: @mixin btn-app-radius {\A 6:   border-radius: 4px;"; }
