<% if definition.raw['x-errors'] %>
    <div>
        <div class="Vlt-grid">
            <div class="Vlt-col oas-left-panel" style="padding-bottom: 36px;">
                <h2 id="errors">Errors</h2>
                <p>
                    The following are common error codes that can occur while using this API.
                </p>
            </div>
            <div class="Vlt-col oas-right-panel"></div>
        </div>
        <div class="Vlt-grid">
            <div class="Vlt-col Vlt-table Vlt-table--bordered oas-left-panel">
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% definition.raw['x-errors'].each do |name, body| %>
                        <tr>
                            <td><b><%= name %></b></td>
                            <td><%= body['description'].render_markdown %> </td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
            <div class="Vlt-col oas-right-panel"></div>
        </div>
    </div>
<% end %>
