<% output = Nexmo::OAS::Renderer::Presenters::RequestBodyRaw.new(parameters) %>

<h4>Example Request</h4>
<pre class="highlight javascript" style="white-space: pre-wrap"><code><%= output.to_json %></code></pre>
