<div class="js-format Nxd-api__response" data-format="<%= format %>">
  <%= erb :'open_api/_response_description_parameters', locals: { response: response, endpoint: endpoint, schema: schema } %>
</div>
