<ul class="Vlt-list Vlt-list--simple">
  <% @concepts.each do |concept| %>
    <li><a href="<%= concept.url %>"><%= concept.title %></a><% if concept.description %>: <%= concept.description.render_markdown.gsub(%r{^<p>},'').gsub(%r{^</p>}, '').strip %><% end %></li>
  <% end %>
</ul>
