<div class="Vlt-box Vlt-box--lesspadding Nxd-accordion-emphasis">
  <h5 class="Vlt-js-accordion__trigger Vlt-accordion__trigger" data-accordion="acc<%= id %>" tabindex="0">
    <%= app['use_existing'] ? 'Use your existing application' : 'Create an application' %>
  </h5>

  <div id="acc<%=id %>"  class="Vlt-js-accordion__content Vlt-accordion__content Vlt-accordion__content--noborder">
    If you do not have an application you can <a href="/messages/code-snippets/create-an-application">create one</a>. Make sure you also <a href="/messages/code-snippets/configure-webhooks">configure your webhooks</a>.
  </div>
</div>
